.instrumentContainer {
    align-self: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    max-width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
}

.btn {
    background-color: #fff;
    border: 10px solid #404B69;
    color: #DA0463;
    font-family: 'Arvo', cursive;
    font-size: 5rem;
    font-weight: 900;
    height: 100%;
    text-shadow: 3px 0 #DBEDF3;
    width: 100%;
    margin: 0 auto;
}

.btn:last-child {
    grid-column: span 2;
    width: 50%;
}

.drumBtn {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; 
}

.drumBtn:nth-child(3),
.drumBtn:nth-child(4),
.drumBtn:nth-child(5) {
    background-size: 130%; 
    background-position: 0 -10%;
}

.drumBtn:nth-child(6) {
    background-size: 130%; 
    background-position: left -5%;
}

.drumBtn:last-child {
    background-size: 150%; 
    background-position: left 10%;
}

.drumBtnActive {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;  
}

/* Style for GalaxyS9+ */
@media 
only screen and (-webkit-min-device-pixel-ratio: 4),
only screen and (min--moz-device-pixel-ratio: 4),
only screen and (-o-min-device-pixel-ratio: 4/1),
only screen and (min-device-pixel-ratio: 4),
only screen and (min-resolution: 570dpi),
only screen and (min-resolution: 4dppx) { 

    .instrumentContainer {
        align-self: center;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, 1fr));
        width: 100%;
    }

    .btn:last-child {
        grid-column: span 2;
        margin: 0 auto;
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .instrumentContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, 1fr)); 
        box-sizing: border-box;
        gap: 30px;
        width: 90%;
    }

    .drumBtn {
        width: 50%;
    }

    .btn:last-child {
        width: 25%;
    } 

    .drumBtn:nth-child(3) {
        background-position: 100% -15%;
    }

    .drumBtn:nth-child(4) {
        background-position: 100% -15%;
    }

    .drumBtn:nth-child(5) {
        background-position: left -10%;
    }
    
    .drumBtn:nth-child(6) {
        background-position: 110% -15%;
    }
    
    .drumBtn:last-child {
        background-position: 100% 10%;
    }

}

@media screen and (min-width: 900px) {
    .instrumentContainer {
        grid-template-columns: repeat(7, minmax(0, 1fr));
        grid-template-rows: 1fr; 
        box-sizing: border-box;
        width: 90%;
    }

    .btn {
        width: 100%;
    }

    .btn:last-child {
        grid-column: auto;
        width: 100%;
    }

}

@media screen and (min-width: 1500px) {
    .instrumentContainer {
        gap: 40px;
        width: 70%;
    }
}

@media screen and (min-width: 2800px) {
    .instrumentContainer {
        gap: 40px;
        width: 50%;
    }
}